<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <title>PeaceData.at</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Tucson - Responsive HTML5 Template - 1.1.0">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Alegreya|Alegreya+SC|Oswald:400,300" rel="stylesheet" type="text/css">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.carousel.css" media="screen" />
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.theme.css" media="screen" />
    <link rel="stylesheet" href="/vendor/rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" href="/vendor/isotope/jquery.isotope.css" media="screen" />
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css" media="screen" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/theme-elements.css">
    <link rel="stylesheet" href="/css/theme-animate.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/css/skins/default.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/theme-responsive.css" />

    <!-- Head Libs -->
    <script src="/vendor/modernizr.js"></script>

    <!--[if IE]>
    <link rel="stylesheet" href="/css/ie.css">
    <![endif]-->

</head>
<body class="header-top">

    <div class="body">
        <header>
            <div class="header-top">
                <div class="container">
                    <p>
                        Get in touch! <span><i class="icon icon-phone"></i>+43 6991 922-8792</span> | <a href="#">info@peacedata.at</a>
                    </p>
                    <ul class="social-icons">
                        <li><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter"><i class="icon icon-twitter"></i></a></li>
                        <li><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook"><i class="icon icon-facebook"></i></a></li>
                        <li><a href="http://www.google.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Google+"><i class="icon icon-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <h1 class="logo">
                    <a href="index.html">
                        <img alt="Tucson" src="/img/logo.png" data-small-height="44">
                    </a>
                </h1>
                <div class="navbar-collapse nav-main-collapse collapse">
                    <div class="search" id="headerSearch">
                        <a href="#" id="headerSearchOpen"><i class="icon icon-search"></i></a>
                        <div class="search-input">
                            <form id="headerSearchForm" action="page-search-results.html" method="get">
                                <div class="input-group">
                                    <input type="text" class="form-control search" name="q" id="q" placeholder="Search...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button"><i class="icon icon-search"></i></button>
                                                </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <nav class="nav-main mega-menu">
                        <ul class="nav nav-pills nav-main" id="mainMenu">
                            <li class="dropdown active">
                                <a class="dropdown-toggle" href="#">
                                    Home
                                    <i class="icon icon-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html">Home - Default</a></li>
                                    <li><a href="index-basic.html">Home - Basic</a></li>
                                    <li><a href="index-video.html">Home - Video</a></li>
                                    <li><a href="index-extended.html">Home - Extended</a></li>
                                    <li><a href="index-blog.html">Home - Blog</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="shortcodes.html">
                                    Shortcodes
                                </a>
                            </li>
                            <li class="dropdown mega-menu-item mega-menu-fullwidth">
                                <a class="dropdown-toggle" href="#">
                                    Features
                                    <i class="icon icon-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="mega-menu-content">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <span class="mega-menu-sub-title">Main Features</span>
                                                            <ul class="sub-menu">
                                                                <li><a href="feature-grid-system.html">Grid System</a></li>
                                                                <li><a href="feature-pricing-tables.html">Pricing Tables</a></li>
                                                                <li><a href="feature-icons.html">Icons</a></li>
                                                                <li><a href="feature-animations.html">Animations</a></li>
                                                                <li><a href="feature-typograpy.html">Typograpy</a></li>
                                                                <li><a href="feature-testimonials.html">Testimonials</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <span class="mega-menu-sub-title">Blog</span>
                                                            <ul class="sub-menu">
                                                                <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                                                <li><a href="blog-large-image.html">Blog Large Image</a></li>
                                                                <li><a href="blog-medium-image.html">Blog Medium Image</a></li>
                                                                <li><a href="blog-timeline.html">Blog Timeline</a></li>
                                                                <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                                                <li><a href="blog-masonry-full-width.html">Blog Masonry - Full Width</a></li>
                                                                <li><a href="blog-masonry-sidebar.html">Blog Masonry - Sidebar</a></li>
                                                                <li><a href="blog-post.html">Single Post</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <span class="mega-menu-sub-title">Headers</span>
                                                            <ul class="sub-menu">
                                                                <li><a href="index-header-1.html">Header Version 1</a></li>
                                                                <li><a href="index-header-2.html">Header Version 2</a></li>
                                                                <li><a href="index-header-3.html">Header Version 3</a></li>
                                                                <li><a href="index-header-4.html">Header Version 4</a></li>
                                                                <li><a href="index-header-big-logo.html">Header - Big Logo</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <span class="mega-menu-sub-title">Shop</span>
                                                            <ul class="sub-menu">
                                                                <li><a href="shop-full-width.html">Shop - Full Width</a></li>
                                                                <li><a href="shop-sidebar.html">Shop - Sidebar</a></li>
                                                                <li><a href="shop-product-full-width.html">Shop - Product Full Width</a></li>
                                                                <li><a href="shop-product-sidebar.html">Shop - Product Sidebar</a></li>
                                                                <li><a href="shop-cart.html">Shop - Cart</a></li>
                                                                <li><a href="shop-login.html">Shop - Login</a></li>
                                                                <li><a href="shop-checkout.html">Shop - Checkout</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">
                                    Portfolio
                                    <i class="icon icon-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio-4-columns.html">4 Columns</a></li>
                                    <li><a href="portfolio-3-columns.html">3 Columns</a></li>
                                    <li><a href="portfolio-lightbox.html">Portfolio Lightbox</a></li>
                                    <li><a href="portfolio-timeline.html">Portfolio Timeline</a></li>
                                    <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                                    <li><a href="portfolio-single.html">Single - Basic</a></li>
                                    <li><a href="portfolio-single-extended.html">Single - Extended</a></li>
                                    <li><a href="portfolio-single-full-slider.html">Single - Full Slider</a></li>
                                    <li><a href="portfolio-single-sidebar.html">Single - Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">
                                    Pages
                                    <i class="icon icon-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="page-about-us.html">About Us</a></li>
                                    <li><a href="page-about-me.html">About Me</a></li>
                                    <li><a href="page-full-width.html">Full width</a></li>
                                    <li><a href="page-left-sidebar.html">Left sidebar</a></li>
                                    <li><a href="page-right-sidebar.html">Right sidebar</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#">Custom Header</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="page-custom-header.html">Product - Header</a></li>
                                            <li><a href="page-custom-header-basic.html">Basic - Header</a></li>
                                            <li><a href="page-custom-header-video.html">Video - Header</a></li>
                                            <li><a href="page-custom-header-overlay.html">Overlay - Header</a></li>
                                            <li><a href="page-custom-header-parallax.html">Parallax - Header</a></li>
                                            <li><a href="page-custom-header-slideshow.html">Slideshow - Header</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="page-404.html">404 Error</a></li>
                                    <li><a href="page-team.html">Team</a></li>
                                    <li><a href="page-services.html">Services</a></li>
                                    <li><a href="page-faq.html">FAQ</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">
                                    Contact Us
                                    <i class="icon icon-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="contact-us.html">Version 1</a></li>
                                    <li><a href="contact-us-2.html">Version 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="icon icon-bars"></i>
                </button>
            </div>
        </header>

        <div role="main" class="main">
            {% block content %}{% endblock %}
        </div>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="index.html" class="logo push-bottom">
                            <img alt="Tucson Website Template" src="/img/logo-footer.png">
                        </a>
                        <p>Tucson is a very powerful HTML5 template, you will be able to create an awesome website in a very simple way. <a href="#" class="btn-flat btn-xs">View More <i class="icon icon-arrow-right"></i></a></p>
                        <div class="contact-details">
                            <ul class="contact">
                                <li><p><i class="icon icon-map-marker"></i> <strong>Address:</strong> 123 Street Name, City, USA</p></li>
                                <li><p><i class="icon icon-phone"></i> <strong>Phone:</strong> (123) 456-7890</p></li>
                                <li><p><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Recent Posts</h4>
                        <ul class="nav nav-list primary">
                            <li><a title="Class aptent taciti sociosqu ad litora torquent" href="blog-post.html">Class aptent taciti aptent sociosqu...</a></li>
                            <li><a title="Class aptent taciti sociosqu ad litora torquent" href="blog-post.html">Aptent class taciti sociosqu...</a></li>
                            <li><a title="Class aptent taciti sociosqu ad litora torquent" href="blog-post.html">Taciti aptent aptent sociosqu ad...</a></li>
                            <li><a title="Class aptent taciti sociosqu ad litora torquent" href="blog-post.html">Sociosqu class aptent taciti...</a></li>
                            <li><a title="Class aptent taciti sociosqu ad litora torquent" href="blog-post.html">Class aptent taciti aptent sociosqu...</a></li>
                        </ul>

                        <a href="#" class="btn-flat pull-right btn-xs view-more-recent-work">View Blog <i class="icon icon-arrow-right"></i></a>

                    </div>
                    <div class="col-md-3">
                        <h4>Recent Tweets</h4>
                        <div id="tweet" class="twitter" data-account-id="">
                            <p>Please wait...</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Recent Work</h4>

                        <ul class="list-unstyled recent-work">
                            <li>
                                <a class="thumb-info" href="portfolio-single.html">
                                    <img class="img-responsive" width="78" height="78" src="/img/projects/project-thumb-1.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="thumb-info" href="portfolio-single.html">
                                    <img class="img-responsive" width="78" height="78" src="/img/projects/project-thumb-9.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="thumb-info" href="portfolio-single.html">
                                    <img class="img-responsive" width="78" height="78" src="/img/projects/project-thumb-3.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="thumb-info" href="portfolio-single.html">
                                    <img class="img-responsive" width="78" height="78" src="/img/projects/project-thumb-4.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="thumb-info" href="portfolio-single.html">
                                    <img class="img-responsive" width="78" height="78" src="/img/projects/project-thumb-5.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="thumb-info" href="portfolio-single.html">
                                    <img class="img-responsive" width="78" height="78" src="/img/projects/project-thumb-11.jpg" alt="">
                                </a>
                            </li>
                        </ul>

                        <a href="#" class="btn-flat pull-right btn-xs view-more-recent-work">View More <i class="icon icon-arrow-right"></i></a>

                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Copyright © 2014. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="social-icons">
                                <li><a href="http://www.twitter.com/" target="_blank" rel="tooltip" title="Twitter"><i class="icon icon-twitter"></i></a></li>
                                <li><a href="http://www.facebook.com/" target="_blank" rel="tooltip" title="Facebook"><i class="icon icon-facebook"></i></a></li>
                                <li><a href="http://www.google.com/" target="_blank" rel="tooltip" title="Google+"><i class="icon icon-google-plus"></i></a></li>
                                <li><a href="http://www.linkedin.com/" target="_blank" rel="tooltip" title="Linkedin"><i class="icon icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>



    <!-- Libs -->
    <script src="/vendor/jquery.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/vendor/jquery.easing.js"></script>
    <script src="/vendor/jquery.appear.js"></script>
    <script src="/vendor/jquery.cookie.js"></script>

    <script src="/vendor/bootstrap.js"></script>
    <script src="/vendor/masonry.js"></script>
    <script src="/vendor/twitterjs/twitter.js"></script>
    <script src="/vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/vendor/owl-carousel/owl.carousel.js"></script>
    <script src="/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="/vendor/jquery.knob.js"></script>
    <script src="/vendor/jquery.stellar.js"></script>
    <script src="/vendor/jquery.validate.js"></script>
    <script src="/vendor/isotope/jquery.isotope.js"></script>

    <!-- Current Page Scripts -->
    <script src="/js/views/view.home.js"></script>

    <!-- Theme Initializer -->
    <script src="/js/theme.js"></script>

    <!-- Custom JS -->
    <script src="/js/custom.js"></script>

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12345678-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
     -->

</body>
</html>