{% extends "index.html.twig" %}

{% block content %}
<div id="content" class="content full">
    <section class="home-top-clean">
        <div class="slider-container">
            <div class="slider" id="topRevolutionSlider" data-plugin-options='{"startheight": 600}'>
                <ul>
                    <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

                        <img src="/img/slides/slide-basic-bg-1.jpg" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption top-label md customin"
                             data-x="left" data-hoffset="15"
                             data-y="170"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="0"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">Data gathering applications?
                        </div>

                        <div class="tp-caption main-label md customin"
                             data-x="left" data-hoffset="15"
                             data-y="190"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="300"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">IT'S EASY
                        </div>

                        <div class="tp-caption bottom-label md sfb"
                             data-x="left" data-hoffset="35"
                             data-y="290"
                             data-speed="800"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">WEB 2.0 . Android & iOS . Mining & Concurrent Delivery
                        </div>

                        <div class="tp-caption sft"
                             data-x="left" data-hoffset="105"
                             data-y="340"
                             data-speed="800"
                             data-start="700"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <a data-hash href="#get-started" class="btn btn-lg btn-primary main-button">Get Started Now!</a>
                        </div>

                        <div class="tp-caption sfb"
                             data-x="right" data-hoffset="10"
                             data-y="center" data-voffset="10"
                             data-speed="1000"
                             data-start="700"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <img src="/img/slides/slide-caption-1.png" />
                        </div>

                    </li>
                    <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

                        <img src="/img/slides/slide-clean-bg-1.jpg" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfr"
                             data-x="center" data-hoffset="-200"
                             data-y="center" data-voffset="30"
                             data-speed="800"
                             data-start="0"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <img src="/img/slides/slide-mockup-1.png">
                        </div>

                        <div class="tp-caption sfr"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="30"
                             data-speed="800"
                             data-start="300"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <img src="/img/slides/slide-mockup-2.png">
                        </div>

                        <div class="tp-caption sfr"
                             data-x="center" data-hoffset="200"
                             data-y="center" data-voffset="30"
                             data-speed="800"
                             data-start="600"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <img src="/img/slides/slide-mockup-3.png">
                        </div>

                        <div class="tp-caption text-bg text-bg-dark white top-label sfr"
                             data-x="left" data-hoffset="130"
                             data-y="center" data-voffset="-52"
                             data-speed="800"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300"
                             style="z-index: 1001; padding: 10px;">Rocket Science<br>
                        </div>

                        <div class="tp-caption text-bg white top-label sfr"
                             data-x="left" data-hoffset="130"
                             data-y="center" data-voffset="-10"
                             data-speed="800"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300"
                             style="z-index: 1001; padding: 10px;"><small>for your next web-related project</small>
                        </div>

                    </li>
                </ul>
            </div>
        </div>

    </section>
</div>

<div class="container">

    <div class="row center" id="get-started">
        <div class="col-md-12">
            <h2 class="short lead">
                We <strong class="alternative-font default">love</strong> what we do, and you will love our work too.
            </h2>
            <!--
            <p class="featured lead">
                With greatest attention to the finest detail we strive to deliver perfection.
            </p>
            -->
        </div>
    </div>

    <hr class="tall" />

    <div class="row featured-boxes tertiary">
        <div class="col-md-3">
            <div class="featured-box featured-box-primary" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                <div class="box-content">
                    <i class="icon-featured icon icon-user"></i>
                    <h4>Loved by Customers</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box featured-box-primary" data-appear-animation="fadeInDown" data-appear-animation-delay="150">
                <div class="box-content">
                    <i class="icon-featured icon icon-trophy"></i>
                    <h4>Winner</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box featured-box-primary" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                <div class="box-content">
                    <i class="icon-featured icon icon-cogs"></i>
                    <h4>Customizable</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box featured-box-primary" data-appear-animation="fadeInDown" data-appear-animation-delay="450">
                <div class="box-content">
                    <i class="icon-featured icon icon-book"></i>
                    <h4>Well Documented</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="tall invisible" />

</div>

<section class="featured highlight">
    <div class="container">
        <div class="row center counters">
            <div class="col-md-3">
                <strong data-to="4000">0</strong>
                <label>Happy Clients</label>
            </div>
            <div class="col-md-3">
                <strong data-to="15">0</strong>
                <label>Years in Business</label>
            </div>
            <div class="col-md-3">
                <strong data-to="352">0</strong>
                <label>Cups of Coffee</label>
            </div>
            <div class="col-md-3">
                <strong data-to="159">0</strong>
                <label>High Score</label>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <hr class="invisible">

                <div class="col-md-4">
                    <div class="feature-box secundary">
                        <div class="feature-box-icon">
                            <i class="icon icon-group"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">Customer Support</h4>
                            <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
                        </div>
                    </div>
                    <div class="feature-box secundary push-top">
                        <div class="feature-box-icon">
                            <i class="icon icon-google-plus"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">500+ Google Fonts</h4>
                            <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box secundary">
                        <div class="feature-box-icon">
                            <i class="icon icon-film"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">Sliders</h4>
                            <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. </p>
                        </div>
                    </div>
                    <div class="feature-box secundary push-top">
                        <div class="feature-box-icon">
                            <i class="icon icon-check"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">Icons</h4>
                            <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box secundary">
                        <div class="feature-box-icon">
                            <i class="icon icon-file"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">HTML5 / CSS3 / JS</h4>
                            <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
                        </div>
                    </div>
                    <div class="feature-box secundary push-top">
                        <div class="feature-box-icon">
                            <i class="icon icon-adjust"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">Unlimited Colors</h4>
                            <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <hr class="invisible">

                <div class="center">
                    <a class="btn btn-default btn-lg" href="shortcodes.html" data-appear-animation="bounceIn" data-appear-animation-delay="0">View Shortcodes...</a>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 center">

            <div class="divider tall colored">
                <i class="icon icon-star"></i>
            </div>
            <h2>Tucson was made by a team of <strong>awesome developers.</strong></h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta.  </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. </p>
        </div>
    </div>
    <hr class="invisible">

    <div class="row center">
        <div class="owl-carousel" data-plugin-options='{"items": 6, "singleItem": false, "pagination": false, "autoPlay": true}'>
            <div>
                <img class="img-responsive" src="/img/logos/logo-1.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/img/logos/logo-2.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/img/logos/logo-3.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/img/logos/logo-4.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/img/logos/logo-5.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/img/logos/logo-6.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/img/logos/logo-5.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/img/logos/logo-4.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/img/logos/logo-3.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/img/logos/logo-2.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/img/logos/logo-1.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="/img/logos/logo-6.png" alt="">
            </div>
        </div>
    </div>

    <hr class="tall">

    <section class="call-to-action featured footer">
        <div class="row">
            <div class="center">
                <h3>Tucson is very <strong>easy</strong> to customize and has tons of <strong>features</strong>. <a href="http://themeforest.net/user/Okler/portfolio" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a></h3>
            </div>
        </div>
    </section>
</div>
{% endblock %}
